// /* Réinitialisation des styles par défaut */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Importer la police Roboto depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Appliquer la police à vos éléments */
body {
    font-family: "Roboto", sans-serif;
}

body {
    background-image: linear-gradient(to top, #7fffd4, #0f52ba);
    background-repeat: repeat;
    background-position: center;
    /* Mode de fusion pour superposer l'image */
    background-blend-mode: overlay;
}

/* Styles pour l'en-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(1px);
}

.im {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
}

.logo img {
    max-height: 55px;
}

.custom-loader {
    width: 30px;
    height: 12.5px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: grid;
    animation: h2 4s infinite linear;
}

.custom-loader:before,
.custom-loader:after {
    content: "";
    grid-area: 1/1;
    border: inherit;
    border-radius: 50%;
    animation: inherit;
    animation-duration: 6s;
}

.custom-loader:after {
    --s: -1;
}

@keyframes h2 {
    100% {
        transform: rotate(calc(var(--s, 1) * 1turn));
    }
}

.menu-container {
    position: relative;
}

.hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-menu span {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

/* Style pour la fenêtre contextuelle (popup) de SweetAlert */
.swal-overlay {
    background-color: rgba(0, 0, 255, 0.5);
    backdrop-filter: blur(5px);
}

.custom-swal-popup {
    width: 300px;
    background-color: transparent;
    box-shadow: none;
}

.custom-swal-close-button {
    color: #fff;
    font-size: 20px;
    opacity: 0.7;
}

.custom-swal-content {
    text-align: center;
}

.custom-swal-popup ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.custom-swal-popup ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.custom-swal-popup ul li:last-child {
    border-bottom: none;
}

/*scroll effect*/
.scroll-section {
    padding: 15px 50px;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.scroll-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.scroll-section-left {
    transform: translateX(-100%);
}

// /* Effet 1 
.scroll-1 {
    padding: 15px 50px;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.scroll-1.scroll-left {
    opacity: 1;
    transform: translateY(0);
}


.scroll-2 {
    padding: 15px 50px;
    color: white;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

.scroll-2.scroll-right {
    opacity: 1;
    transform: translateX(0);
}

.scroll-section.scroll-3 {
    padding: 15px 50px;
    color: white;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.scroll-section.scroll-3.visible {
    opacity: 1;
    transform: translateX(0);
}

.scroll-section.scroll-4 {
    padding: 15px 50px;
    color: white;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

.scroll-section.scroll-4.visible {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: #fff;
}

/* Animation */
h1 {
    animation-name: slide-in-left;
    animation-duration: 2s;
}

h3,
p {
    color: #fff;
    animation-name: slide-in-right;
    animation-duration: 2s;
}

.logo {
    display: inline-block;
    position: relative;
    max-width: 200px;
    animation-name: bounce-in-top;
    animation-duration: 2s;
}

/* Définir les animations */
@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes bounce-in-top {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*-----------------------*/
/* Styles pour la section d'introduction */
.intro {
    padding: 50px;
    text-align: center;
}

.intro h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.intro p {
    color: #fff;
    font-size: 16px;
}

.imginter {
    max-width: 400px;
    height: auto;
    margin: auto;
    display: flex;
}

button {
    margin: 20px;
}

.btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}

.btn {
    border: none;
    background: transparent;
    color: #fff;
    overflow: hidden;
}

.btn:hover {
    text-decoration: none;
    color: #fff;
}

.btn:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn:hover {
    opacity: 0.5;
}

.btn:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

/* Styles pour les boîtes de contenu */
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.box {
    width: 45%;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    animation: box-fade 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

@keyframes box-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    max-width: 100%;
    height: auto;
    animation: image-fade 1s ease-in-out;
}

@keyframes image-fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.box .text {
    animation: text-fade 1s ease-in-out;
}

@keyframes text-fade {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.box i.material-icons {
    font-size: 48px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .intro {
        padding: 20px;
    }

    .btn {
        margin: 10px auto;
    }

    .content {
        padding: 20px;
    }

    .box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .menu-icon {
        display: block;
    }

    .menu li {
        margin-left: 0;
    }

    .menu li a {
        color: #fff;
    }

    .box:hover {
        transform: none;
    }
}

a {
    color: #ffbf00;
    text-decoration: none;
}

a:hover {
    color: #b478ec;
}

.ban {
    width: 100%;
    height: auto;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 5px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-section.about p {
    line-height: 1.5;
}

.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links li {
    margin-bottom: 5px;
}

.footer-section.links a:hover {
    color: #7fffd4;
}

.footer-section.contact p i {
    margin-right: 10px;
}

.footer-bottom {
    background-color: #1a1a1a;
    padding: 0px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 12px;
    color: #ccc;
    margin: 0;
}

// h2,
// h3,
// p {
//     color: #111111;
//     animation-name: text-fade;
//     animation-duration: 2s;
// }


// @keyframes text-fade {
//     0% {
//         opacity: 0;
//         transform: translateY(-20px);
//     }

//     100% {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }