@media (min-width:600px) {
    .home-navigator {
        margin-top: -50px !important;
        position: absolute;
    }
}

.home-navigator {
    margin-left: auto;
    margin-right: auto;
    width: calc(100%);
}

.home-card {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
}

.has-shadow {
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
}

.has-zoom-effect img {
	transition: transform .7s ease;
}

.has-zoom-effect{
    overflow: hidden;
}

.has-zoom-effect div{
    overflow: hidden;
}

.has-zoom-effect:hover img {
	transform: scale(1.3);
}