:root {
    --regular--font--size: 1.2em;
}

p {
    text-align: justify;
    margin-block-end: 0.5em !important;
    font-size: var(--regular--font--size);
}


li {
    text-align: justify;
    margin-block-end: 0.25em !important;
    font-size: var(--regular--font--size);
}

ul,
ol {
    margin-block-end: 0.25em !important;
}